{% extends 'base.html' %}

{% block title %} Add a new pet for adoption {% endblock %}

{% block content %}

<div class="col mb-4 mt-4">
    <h2 class="fs-3 fw-bold text-center">Add a pet for adoption</h2>
</div>

<div class="col-12 d-flex justify-content-center">

    <form method="post" class="border w-50 p-3 fs-5">

        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}

        <div class="mb-3">

            {{ field.label(class_='form-label fw-bold') }}
            {{ field(class_='form-control') }}

        </div>


        {% endfor %}

        <button class="btn btn-lg btn-primary">Add Pet</button>

    </form>

</div>

{% endblock %}