{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1>Login</h1>
    </div>

    <div class="col-12">

        <form method="post">

            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}

            <div class="mb-3">
                {{ field.label(class_='form-label') }}
                {{ field(class_='form-control') }}
            </div>

            {% endfor %}

            <div>
                <button class="btn btn-primary btn-lg">Login</button>
            </div>
        </form>

    </div>

</div>


{% endblock %}