{% extends 'base.html' %}

{% block title %} Secret {% endblock %}

{% block content %}

<div class="row">

    <div class="col-12">
        <h1>Secret</h1>
    </div>



    <div class="col-12">

        <p class="fs-4">Name: <span class="fw-bold">{{ user.fullname() }} </span></p>
        <p class="fs-4">Username: <span class="fw-bold"> @{{ user.username }} </span></p>
        <p class="fs-4">Email: <span class="fw-bold"> {{ user.email }} </span></p>

        <div class="col-6 d-flex">

            <form action="/logout" method="post">
                <button class="btn btn-lg btn-primary me-3">Logout</button>
            </form>

            <form action="/users/{{user.username}}/delete" method="post">
                <button class="btn btn-lg btn-danger">Delete account</button>
            </form>

        </div>

    </div>
</div>

<div class="col-7 my-5 text-center">
    <h4 class="text-center fw-bold fs-2">{{user.fullname()}}'s feedbacks </h4>

    {% if feedbacks %}

    <div class="col-12 my-4">
        <a href="/users/{{user.username}}/feedback/add" class="btn btn-lg btn-success">Create a feedback</a>

    </div>

    <div>
        {% for feedback in feedbacks %}

        <a href="/users/{{user.username}}/{{feedback.id}}">
            <div class="col-10 border rounded border-4 mb-3 py-3">
                <div class="col-10">
                    <span class="fw-bold mb-3"> {{feedback.title}} </span>
                    <p>{{ feedback.content }}</p>
                </div>


                <div class="col-4 d-flex">
                    <a href="/feedback/{{feedback.id}}/update" class="btn btn-lg btn-primary me-3">Edit</a>

                    <form method="post">
                        <button formaction="/feedback/{{feedback.id}}/delete"
                            class="btn btn-lg btn-danger">Delete</button>
                    </form>
                </div>
            </div>

        </a>

        {% endfor %}
    </div>


    {% else %}


    <p class="my-3 fs-5 ">{{user.first_name}} currently has no feedback(s).</p>
    <a href="/users/{{user.username}}/feedback/add" class="btn btn-lg btn-success">Create a feedback</a>

    {% endif %}




</div>

</div>


{% endblock %}