{% extends 'base.html' %}

{% block title %} Update feedback {% endblock %}


{% block content %}

<div class="row">


    <div class="col-12">
        <h1>Update feedback</h1>
    </div>

    <div class="col-12">
        <form class="w-25" method="post">

            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}

            {{ field.label(class_='form-label') }}
            {{ field(class_='form-control') }}

            {% endfor %}

            <div class="my-3 col-12">
                <button class="btn btn-lg btn-success">Update</button>
                <a href="/users/{{user.username}}" class="btn btn-lg border-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}